<form [formGroup]="configurationForm" (ngSubmit)="onSubmit()">
  <!-- <mat-form-field appearance="fill">
    <mat-label>Strategies for Prisoner 1</mat-label>
    <mat-select [formControl]="prisoner1Strategy" multiple>
      <mat-select-trigger>
        {{prisoner1Strategy.value ? prisoner1Strategy.value[0] : ''}}
        <span *ngIf="prisoner1Strategy.value?.length > 1" class="example-additional-selection">
          (+{{prisoner1Strategy.value.length - 1}} {{prisoner1Strategy.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let s of strategies" [value]="s">{{s}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Strategies for Prisoner 2</mat-label>
    <mat-select [formControl]="prisoner2Strategy" multiple>
      <mat-select-trigger>
        {{prisoner2Strategy.value ? prisoner2Strategy.value[0] : ''}}
        <span *ngIf="prisoner2Strategy.value?.length > 1" class="example-additional-selection">
          (+{{prisoner2Strategy.value.length - 1}} {{prisoner2Strategy.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let s of strategies" [value]="s">{{s}}</mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field>
    <mat-label>Number of Rounds per Game</mat-label>
    <input matInput formControlName="numberOfRounds" />
  </mat-form-field>
  
  <ng-container formArrayName="strategies">
    <div *ngFor="let s of allStrategies; index as i">
      <mat-checkbox [formControlName]="i">{{ s.name }}</mat-checkbox>
    </div>
  </ng-container>
</form>

<button type="submit" [disabled]="!configurationForm.valid" (click)="onSubmit()">Run</button>